* {
  box-sizing: border-box;
}

:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #19FD8280, #17FE5B50);
  height: 100vh;
}
